Aiman Arif
Assignment#2

In [2]:
import pandas as pd
df=pd.read_csv('HDI.csv')
df.head

<bound method NDFrame.head of           iso3                          country    hdicode region  \
0          AFG                      Afghanistan        Low     SA
1          AGO                           Angola     Medium    SSA
2          ALB                          Albania       High    ECA
3          AND                          Andorra  Very High    NaN
4          ARE             United Arab Emirates  Very High     AS
..         ...                              ...        ...    ...
201    ZZG.ECA          Europe and Central Asia        NaN    NaN
202    ZZH.LAC  Latin America and the Caribbean        NaN    NaN
203     ZZI.SA                       South Asia        NaN    NaN
204    ZZJ.SSA               Sub-Saharan Africa        NaN    NaN
205  ZZK.WORLD                            World        NaN    NaN

     hdi_rank_2021  hdi_1990  hdi_1991  hdi_1992  hdi_1993  hdi_1994  ...  \
0            180.0     0.273     0.279     0.287     0.297     0.292  ...
1            148.0       NaN       NaN       NaN       NaN       NaN  ...
2             67.0     0.647     0.629     0.614     0.617     0.624  ...
3             40.0       NaN       NaN       NaN       NaN       NaN  ...
4             26.0     0.728     0.739     0.742     0.748     0.755  ...
..             ...       ...       ...       ...       ...       ...  ...
201            NaN     0.664     0.661     0.654     0.652     0.647  ...
202            NaN     0.633     0.638     0.643     0.648     0.654  ...
203            NaN     0.442     0.447     0.453     0.457     0.462  ...
204            NaN     0.407     0.410     0.410     0.411     0.413  ...
205            NaN     0.601     0.604     0.607     0.610     0.614  ...

       mf_2012    mf_2013    mf_2014    mf_2015    mf_2016    mf_2017  \
0     1.860000   1.880000   1.660000   1.620000   1.660000   1.410000
1     4.090000   4.530000   3.970000   3.590000   2.790000   2.640000
2    12.440000  11.490000  13.140000  12.610000  14.390000  14.460000
3          NaN        NaN        NaN        NaN        NaN        NaN
4    49.560000  49.680000  55.490000  59.760000  64.950000  75.610000
..         ...        ...        ...        ...        ...        ...
201  13.107171  14.172082  14.189127  14.523162  13.791770  13.618078
202  14.114108  14.493145  14.080904  14.146026  13.325144  13.604555
203   4.699407   4.584935   4.486500   4.610546   4.624886   4.740263
204   3.437760   3.530479   3.491150   3.494860   3.415511   3.256156
205  12.186601  12.474065  12.520563  12.372667  12.277707  12.277878

       mf_2018    mf_2019    mf_2020    mf_2021
0     1.320000   1.380000   1.380000   1.380000
1     2.280000   2.180000   2.180000   2.180000
2    12.850000  12.960000  12.960000  12.960000
3          NaN        NaN        NaN        NaN
4    65.970000  68.950000  68.950000  68.950000
..         ...        ...        ...        ...
201  13.914030  14.087293  14.091826  14.096719
202  13.151315  13.296195  13.290914  13.284745
203   5.000024   5.110230   5.106447   5.102134
204   3.145930   3.151076   3.146092   3.140740
205  12.220286  12.375236  12.325166  12.271920

[206 rows x 1008 columns]>

In [4]:
missing_val=df.isnull().sum()
print("Missing values in dataset",missing_val)

Missing values in dataset iso3              0
country           0
hdicode          15
region           55
hdi_rank_2021    15
                 ..
mf_2017          38
mf_2018          38
mf_2019          38
mf_2020          38
mf_2021          38
Length: 1008, dtype: int64

In [6]:
#remove missing values
cleaned_df=df.dropna()

cleaned_d

In [7]:
duplicates=df.duplicated().sum()
print("Duplicates in dataset",duplicates)

Duplicates in dataset 0

In [8]:
df.describe()
#panadas provide a function of describe to find all statistical analyses

,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,hdi_1996,hdi_1997,hdi_1998,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
count,191.000000,152.000000,152.000000,152.000000,152.000000,152.000000,163.000000,163.000000,163.000000,163.000000,...,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,95.811518,0.595112,0.597862,0.600493,0.604474,0.609329,0.613908,0.619663,0.624975,0.630417,...,15.249784,15.385926,15.347629,15.352632,15.342119,15.491780,14.597416,14.776332,14.775408,14.774396
std,55.307333,0.161918,0.161921,0.162193,0.163122,0.163818,0.162789,0.163461,0.164299,0.165177,...,14.134572,14.555342,14.363092,14.680340,15.015809,15.333709,13.581871,14.266308,14.266504,14.266706
min,1.000000,0.216000,0.218000,0.222000,0.227000,0.232000,0.238000,0.243000,0.248000,0.256000,...,0.430000,0.420000,0.450000,0.560000,0.600000,0.610000,0.500000,0.470000,0.470000,0.470000
25%,48.500000,0.477750,0.477000,0.475250,0.474250,0.476500,0.480500,0.488500,0.490000,0.492000,...,4.597500,4.525000,4.452375,4.457500,4.517500,4.575000,4.612500,4.732500,4.732500,4.732500
50%,96.000000,0.621500,0.623500,0.622000,0.624000,0.623500,0.642000,0.650000,0.651000,0.657000,...,10.907725,11.272314,10.745000,10.260000,10.590000,10.895000,11.215000,11.030000,11.030000,11.030000
75%,143.500000,0.725500,0.727000,0.723750,0.724250,0.733750,0.737000,0.743000,0.752500,0.759000,...,20.345000,20.397500,20.227500,20.187500,19.350000,19.757500,18.432500,17.932500,17.932500,17.932500
max,191.000000,0.872000,0.873000,0.878000,0.880000,0.884000,0.885000,0.887000,0.890000,0.895000,...,74.560000,82.970000,81.100000,86.780000,83.510000,88.700000,71.160000,85.700000,85.700000,85.700000

In [16]:
import pandas as pd
import numpy as np


df = pd.read_csv('HDI.csv')
# Select only numeric columns
numeric_df=df.select_dtypes(include=[np.number])
# Calculate the median of the numeric columns
medians=numeric_df.median()
print("Median of all numeric columns:",medians)

Median of all numeric columns:
hdi_rank_2021    96.0000
hdi_1990          0.6215
hdi_1991          0.6235
hdi_1992          0.6220
hdi_1993          0.6240
                  ...
mf_2017          10.8950
mf_2018          11.2150
mf_2019          11.0300
mf_2020          11.0300
mf_2021          11.0300
Length: 1004, dtype: float64